body{
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: Roboto, "Times New Romans", Times, serif;
	background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
	color:#FFFFFF;
	margin: 40px auto;
	padding: 30px 20px;
	height: 80%;
	width: auto;
	background-color: rgb(0, 0, 0);
	opacity: 0.85;
}

.container img{
	margin-top: 55px;
	margin-left: 5%;
	margin-bottom: 170px;
}

.container h1{
	font-size: 35px;
	font-weight: 500;
	text-align: left;
	text-decoration: underline;
	margin-top: -270px;
	margin-bottom: 40px;
	margin-left: 19%;
	opacity: 1;
}

sup{
	font-size: medium;
	color: red;
	margin-left: 70px;
}



.formfield{
	box-sizing: border-box;
	width: 95%;
	padding: 10px;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
	border-radius: 10px;
}

.save_button{
	border: none;
	border-radius: 10px;
	background-color: blue;
	font-size: 18px;
	margin-left: 43%;
	margin-top: 30px;
	margin-bottom: 10%;
	cursor: pointer;
	color: white;
	width: 180px;
    padding: 12px 0;
	opacity: 1;
}

.username{
	font-size: 28px;
	margin-left: 5%;
	margin-top: 100px;
	opacity: 1;
}

.garisbawah{
	width: 50%;
}
	
#header{
	display:block; width:100%; margin:0 auto;
}
a{
	outline: none;
	text-decoration: none;
}
#header nav{
	display: block;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	background-color: #000000;
	clear:both;
}
#header nav ul{
	float: right;
	padding: 33px 0px 0px 0px;
}
#header nav ul li{
	font-size: medium;
    display: inline;
    margin-right: 40px; 
    text-transform: uppercase;
}
.logo{
	padding: 0px 10px 10px 30px;
}

.user{
	padding: 0px 0px 10px 7px;
	margin-right: 170px;
	float: right;
}

#header nav ul li a{
	color:#FFFFFF;
}
#header nav ul li a:hover{
	color:#00f7ff;
}

/*bagian body*/
.newest:hover{
	opacity: 0.5;
}
.submenu{
	display: inline-block;
	margin:0;
}
.submenu a:hover{
	opacity: 0.5;
}


/*Bagian Footer*/
.baris3{
	background-color: #000000;
	color: #FFF;
}
.clear:after{
	content: ",";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}
#footer{
	display: block;
	width: 95%;
	height: auto;
	margin: 0 auto;
	font-family: roboto;
	font-weight: 500;
}
.footerkiriabout{
	float:inline-start;
	font-size:30px;
	padding-bottom: 10px;
}
.footerkirifollow{
	padding-top: 10px;
	float:left;
	font-size:24px;
}
.footerkiribawah{
	padding-top: 10px;
	float: left;
	font-size: 14px;
}
.footerkanan{
	padding-top: 45px;
	float:right;
	font-size: 15px;
}
.footerkanan2{
	padding-top: 45px;
	float:right;
	margin-right: 60px;
	font-size: 15px;
}
.garisfollowus{
    margin-top: 125px;
	padding-top: 25px;
}
#footer{
	padding: 20px;
}
.baris3 a{
	color: #FFF;
}
/*Bagian Footer*/