body{
	margin:0;
	padding:0;
	font-family: Roboto, "Times New Romans", Times, serif;
	background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
	color:#FFFFFF;
	margin: 40px auto;
	padding: 30px 20px;
	height: 90%;
	width: 95%;
	background-color: rgb(0, 0, 0);
	opacity: 0.85;
}

.container pre{
	font-size: 22px;
}

.container2{
	color:black;
	margin: 40px auto;
	margin-top: 150px;
	padding: 20px 20px;
	height: 90%;
	width: 87%;
	background-color: #D1D1D1;
	opacity: 1;
}

.container img{
	float: right;
	margin-top: -70px;
	border-radius: 5px;
}

.container h1{
	font-size: 30px;
	font-weight: 500;
	margin-left: 5%;
	opacity: 1;
	margin-top: 40px;
}

.container2 h1{
	font-size: 24px;
	font-weight: 1000;
	margin-left: 1%;
	opacity: 1;
	margin-top: 0px;
}

.container h2{
	font-size: 20px;
	font-weight: 500;
	float: right;
	margin-left: 20px;
	margin-right: -125px;
	margin-top: -25px;
	opacity: 1;
}

.container hr{
	border-top: 4px solid white;
	margin-left: 19%;
	margin-top: -35px;
	width: 165px;
	float: left;
	opacity: 1;
}

.container2 hr{
	width: 103.4%;
	border-top: 2px solid black;
	margin-top: 10px;
	margin-left: -20px;
}

.container2 textarea{
	/*font-family: Roboto, "Times New Romans", Times, serif;*/
	background-color: rgba(255, 255, 255);
	position: relative;
	resize: none;
	margin-left: 50px;
	margin-top: 8px;
	margin-bottom: 3px;
	font-size: 16px;
	opacity: 1;
}

.score{
    float: right;
    font-size: 30px;
    padding: 15px 15px;
	margin-right: 150px;
	margin-left: 56px;
    background-color: #2CF00C;
    border: 2px solid #2CF00C;
    border-radius: 10px;
}

.descatas{
	margin-left: 5%;
	margin-top: 20px;
	margin-bottom: 2px;
	font-size: 14px;
}

.desc{
	margin-left: 5%;
	margin-bottom: 2px;
	font-size: 14px;
}

.formbutton{
	background: #0004ff;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	width: 10%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-left: 85%;
	margin-top: 10px;
}

form .likert {
  font-size: 20px;
  font-weight: 1500;
  list-style:none;
  width:auto;
  margin-top: 20px;
  margin-left: 160px;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
  opacity: 1;
}

form .likert:last-of-type {border-bottom:0;}
/*form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left: 2%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
*/

form .likert li {
  display:inline-block;
  width:7%;
  text-align:center;
  vertical-align: top;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-9px;
  padding: 5px 10px;
  width: 30%;
  height: 2em;
  color: white;
}
form .likert li label {width:100%;}

.garisbawah{
	width: 50%;
}
	
#header{
	display:block; width:100%; margin:0 auto;
}
a{
	outline: none;
	text-decoration: none;
}
#header nav{
	display: block;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	background-color: #000000;
	clear:both;
}
#header nav ul{
	float: right;
	padding: 33px 0px 0px 0px;
}
#header nav ul li{
	font-size: medium;
    display: inline;
    margin-right: 40px; 
    text-transform: uppercase;
}
.logo{
	padding: 0px 10px 10px 30px;
}

.user{
	padding: 0px 0px 10px 7px;
	margin-right: 170px;
	float: right;
}

#header nav ul li a{
	color:#FFFFFF;
}
#header nav ul li a:hover{
	color:#00f7ff;
}

/*bagian body*/
.newest:hover{
	opacity: 0.5;
}
.submenu{
	display: inline-block;
	margin:0;
}
.submenu a:hover{
	opacity: 0.5;
}
sup{
	font-size: medium;
	color: red;
}
/*Bagian Footer*/
.baris3{
	background-color: #000000;
	color: #FFF;
}
.clear:after{
	content: ",";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}
#footer{
	display: block;
	width: 95%;
	height: auto;
	margin: 0 auto;
	font-family: roboto;
	font-weight: 500;
}
.footerkiriabout{
	float:inline-start;
	font-size:30px;
	padding-bottom: 10px;
}
.footerkirifollow{
	padding-top: 10px;
	float:left;
	font-size:24px;
}
.footerkiribawah{
	padding-top: 10px;
	float: left;
	font-size: 14px;
}
.footerkanan{
	padding-top: 45px;
	float:right;
	font-size: 15px;
}
.footerkanan2{
	padding-top: 45px;
	float:right;
	margin-right: 60px;
	font-size: 15px;
}
.garisfollowus{
    margin-top: 125px;
	padding-top: 25px;
}
#footer{
	padding: 20px;
}
.baris3 a{
	color: #FFF;
}
/*Bagian Footer*/