#header{
	display:block; width:100%; margin:0 auto;
}
a{
	outline: none;
	text-decoration: none;
}
#header nav{
	display: block;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	background-color: #000000;
	clear:both;
}
#header nav ul{
	float: right;
	padding: 20px 100px 0px 0px;
}
#header nav ul li{
	font-size: medium;
    display: inline; 
    margin-right: 40px; 
    text-transform: uppercase;
}
.logo{
	padding: 0px 10px 10px 30px;
}
.loginbutton{
	border: 2px solid white;
	background-color:black;
	color:white;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	text-transform: uppercase;
}
.loginbutton:hover {
	background-color: #00f7ff;
	color: white;
}
#header nav ul li a{
	color:#FFFFFF;
}
#header nav ul li a:hover{
	color:#00f7ff;
}
/*Bagian Body*/
body{
	margin:0;
	padding:0;
	font-size: 13px;
	font-family: Roboto, "Times New Romans", Times, serif;
	background:url(../images/bg.png) no-repeat top;
	background-size: cover;
}
sup{
	font-size: medium;
	color: red;
}
h1{
	padding: 5px 0px 40px 0px;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
}
.rectangle {
	color:#FFF;
	border-radius: 10px;
	margin: 80px auto 50px auto;
	padding: 20px 20px;
    height: 50%;
    width: 70%;
	background-color: rgb(0, 0, 0);
}
.rectangle form{
	padding: 25px 25px 20px 25px;
	font-size: large;
}
.formfield{
	box-sizing: border-box;
	border-radius: 10px;
	width: 97%;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 50px;
	margin-top: 5px;
}
.formbutton1{
	background: #0004ff;
	color: white;
	font-size: 16px;
	font-weight: bold;
	width: 10%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-left:45%;
	margin-bottom: 15px;
	float: center;
}
.formbutton2{
	background: #a30000;
	color: white;
	font-size: 16px;
	font-weight: bold;
	width: 12%;
	border: none;
	border-radius: 5px;
	padding: 10px;
	margin-left:44%;
	float: center;
	margin-bottom: 5%;
}
a:visited {
	color: white;
} 
a:active {
	color: white;
} 
.account{
	margin-bottom:5px;
	padding:0;
	text-align: center;
	font-size: medium;
}
/*Bagian Body*/

/*Bagian Footer*/
.baris3{
	background-color: #000000;
	color: #FFF;
}
.clear:after{
	content: ",";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height: 0;
}
#footer{
	display: block;
	width: 95%;
	height: auto;
	margin: 0 auto;
	font-family: roboto;
	font-weight: 500;
}
.footerkiriabout{
	float:inline-start;
	font-size:30px;
	padding-bottom: 10px;
}
.footerkirifollow{
	padding-top: 10px;
	float:left;
	font-size:24px;
}
.footerkiribawah{
	padding-top: 10px;
	float: left;
	font-size: 14px;
}
.footerkanan{
	padding-top: 45px;
	float:right;
	font-size: 15px;
}
.footerkanan2{
	padding-top: 45px;
	float:right;
	margin-right: 60px;
	font-size: 15px;
}
.garisfollowus{
    margin-top: 125px;
	padding-top: 25px;
}
#footer{
	padding: 20px;
}
.baris3 a{
	color: #FFF;
}
/*Bagian Footer*/